<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%=htmlWebpackPlugin.options.GEPPETTO_CONFIGURATION.properties.title%></title>
    <meta name="description" content="<%=htmlWebpackPlugin.options.GEPPETTO_CONFIGURATION.properties.description%>" />
    <meta property="og:title" content="<%=htmlWebpackPlugin.options.GEPPETTO_CONFIGURATION.properties.title%>" />
    <meta property="og:type" content="<%=htmlWebpackPlugin.options.GEPPETTO_CONFIGURATION.properties.type%>" />
    <meta property="og:url" content="<%=htmlWebpackPlugin.options.GEPPETTO_CONFIGURATION.properties.url%>" />
    <meta property="og:image" content="<%=htmlWebpackPlugin.options.GEPPETTO_CONFIGURATION.properties.image%>" />
    <meta property="og:description" content="<%=htmlWebpackPlugin.options.GEPPETTO_CONFIGURATION.properties.description%>" />

	<% var cssPaths = '/'; %>

	<% if (htmlWebpackPlugin.options.GEPPETTO_CONFIGURATION.contextPath != "/") { %>
    	<base href="/<%=htmlWebpackPlugin.options.GEPPETTO_CONFIGURATION.contextPath%>/" />
    	<% var cssPaths = ''; %>
	<% } %>

    <!-- CSS -->
	<link rel="stylesheet" href="<%= cssPaths%>geppetto/style/css/custom-theme/jquery-ui-1.10.0.custom.css"/>
	<link rel="stylesheet" href="<%= cssPaths%>geppetto/style/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="<%= cssPaths%>geppetto/style/css/codemirror.css"/>
	<link rel="stylesheet" href="<%= cssPaths%>geppetto/style/css/lesser-dark.css"/>
	<link rel="stylesheet" href="<%= cssPaths%>geppetto/style/css/gpt-icons.css"/>
	
	<% if(htmlWebpackPlugin.options.GEPPETTO_CONFIGURATION.properties.icon.indexOf("http") !== -1){ %>
		<link rel="icon" type="image/png" href="<%=htmlWebpackPlugin.options.GEPPETTO_CONFIGURATION.properties.icon%>"/>
	<% } else{ %>
	    <link rel="icon" type="image/png" href="<%= cssPaths%><%=htmlWebpackPlugin.options.GEPPETTO_CONFIGURATION.properties.icon%>"/>
	<% } %>
	    
</head>
<body>

<!-- For index purposes -->
<div style="display:none" id="content">
$content
</div>

<div id="widgetContainer"></div>
<div id="modal-region"></div>
<div id="load-spinner"></div>



<div id="mainContainer">
	<div id="loadingText" style="text-align:center; font-family: consolas; margin-top: 50px;} ">LOADING... [~3MB]</div>
    <div id="controls" class="noSelection">
		<div id="DownloadProjectButton" class="row"></div>
        <div id="SaveButton" class="row"></div>
        <div id="PublicProject" class="row"></div>
        <div id="HomeButton" class="row"></div>
        <div id="ControlsMenuButton" class="row"></div>
        <div id="sim-toolbar" class="row"></div>
        <div id="tutorial"></div>
        <div id="foreground-toolbar" class="row"></div>
        <div id="github-logo"></div>
    </div>

    <div id="geppettologo" class="noSelection"></div>
    <div id="spotlight" class="hiddenStart"></div>
    <div id="controlpanel" class="hiddenStart"></div>
    <div id="querybuilder" class="hiddenStart"></div>
    <div id="sim" class="noSelection"></div>
	<div id="share-button"></div>
    <div id="footer">
        <div id="footerHeader"></div>
    </div>
</div>


<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-45841517-1']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-45841517-1', 'geppetto.org');
    ga('send', 'pageview');
</script>
<script charset="utf-8" type="text/javascript" src="<%= cssPaths%>geppetto/build/common.bundle.js"></script>
<script charset="utf-8" type="text/javascript" src="<%= cssPaths%>geppetto/build/main.bundle.js"></script>
</body>
</html>
