<div class="row">
    <div class="peoject-heading">
        <div class="col-md-10">{{name}}</div>
        <a href="#"><i class="fa fa-folder-open fa-2 icon"></i></a>
    	<a href="{{deleteUrl}}" target="_blank"><i class="fa fa-trash-o fa-2 icon"></i></a>
    </div>
	<br>
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
            <li role="presentation"><a href="#experiments" aria-controls="experiments" role="tab" data-toggle="tab">Experiments</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content experiments">
            <div role="tabpanel" class="tab-pane active" id="details">
                <dl class="dl-horizontal">
                

                </dl>
            </div>


            <div role="tabpanel" class="tab-pane" id="experiments">
                <div class="panel-group collapse-striped" id="accordion" role="tablist" aria-multiselectable="true">
                {{#each experiments}}
                    <div class="panel panel-default experiment-panel-heading">
                        <div class="panel-heading" role="tab" id="heading-{{@index}}">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="circle {{status}}" title="{{status}}"></div>
                                    </div>
                                    <div class="col-md-11">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#experiment-{{@index}}" aria-expanded="true" aria-controls="experiment-{{@index}}">
                                        {{name}}
                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{url}}" target="_blank"><i class="fa fa-folder-open fa-1 icon"></i></a>
                                        <a href="#"><i class="fa fa-cloud-download fa-1 icon"></i></a>
                                    </div>
                                </div>
                            </h4>
                        </div>
                    </div>

                    <div id="experiment-{{@index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{@index}}">
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                {{#each aspectConfigurations}}
	                                <div class="menuHeader" title="These are the parameters that have been changed for this experiment">Model parameters</div>
	                                {{#each modelParameter}}
   		                                <dt class="instance-path" title={{variable.instancePath}}>{{variable.instancePath}}</dt>
       	        	                    <dd>{{value}}</dd>
                    	            {{/each}}
                    	            <div class="menuHeader" title="These are the variables that the experiment is watching">Watched Variables</div>
                                    {{#each watchedVariables}}
                                        <dt class="instance-path" title={{instancePath}}>{{instancePath}}</dt>
                                        <dd></dd>
                                    {{/each}}
                                {{/each}}
                            </dl>
                        </div>
                    </div>
                {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
